<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '更新') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">生徒データ</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan = "5"><center><%= "テスト結果グラフ" %></center></th>
              </tr>
              
              <tr>
                <th colspan = "5"><%= line_chart @score_graph, width: "850px", height: "200px" %></th>
              </tr>
            </thead>
            
            <tbody>
              <tr>
                <td><%= "名前：" %><%= @user.name %></td><br>
                <td><%= "メールアドレス：" %><%= @user.email %></td><br>
                <td><%= "クラス：" %><%= @user.level %></td><br>
                <td><%= "出席回数：" %><%= @worked_sum %></td><br>
                <td><%= "テスト結果平均：" %><%= @test_ave.floor(2).to_f %></td><br>
              </tr>
              <tr>
                <td colspan = "5">
                  <%= "テスト結果：" %><br>
                  <% @tests.each do |test| %>
                  <%= "日付：" %><%= test.worked_on.to_s(:date) %><%= "　" %><%= "スコア：" %><%= test.test_score %><br>
                  <% end %>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>