<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @attendance, url: attendances_create_inquiry_user_path, local: true, method: :post) do |f| %>
     
       <%= f.label :質問はこちら, class: "label-#{yield(:class_text)}" %>
       <%= f.text_area :inquiry, class: "form-control" %>
      <%= f.submit "送信する", class: "btn btn-primary" %>
   <% end %>
   <% @inquiry.each do |i| %>
   <%= i.inquiry %>
   <% end %>
  </div>
</div>